@font-face {
  font-family: "Montserrat ExtraLight";
  src: url("./fonts/Montserrat/Montserrat-ExtraLight.ttf");
  font-weight: "200";
}
@font-face {
  font-family: "Montserrat Light";
  src: url("./fonts/Montserrat/Montserrat-Light.ttf");
  font-weight: "300";
}
@font-face {
  font-family: "Lato Bold";
  src: url("./fonts/Lato/Lato-Bold.ttf");
  font-weight: "700";
}
@font-face {
  font-family: "Roboto Medium";
  src: url("./fonts/Roboto/Roboto-Medium.ttf");
  font-weight: "500";
}

.xlight-montserrat {
  font-family: 'Montserrat ExtraLight', sans-serif;
}
.light-montserrat {
  font-family: 'Montserrat Light';
}
.lato {
  font-family: 'Lato Bold', sans-serif;
}
.roboto {
  font-family: 'Roboto Medium', sans-serif;
}

.login-container {
  display: flex;
  flex-direction: column;
  align-content: center;
  align-items: center;
}

.login-form-container{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.login-form {
  display: flex;
  margin-top: 72px;
  margin-left: 10px;
  padding: 50px 49px;
  flex-direction: column;
  align-items: center;
  border: 1px solid rgba(0,0,0,.2);
  justify-content: space-around;
  border-radius: 10px;
}

.login-form-group {
  margin-top: 40px;
}

.login-header {
  margin-top: 160px;
  font-size: 2.5em;
}

.login-input {
  width: 370px;
  height: 50px;
  border: 1px solid rgba(0,0,0,.2);
  border-radius: 2px;
}

.login-input::placeholder {
  color: rgba(0,0,0,.2);
  font-size: 1.4em;
  padding-left: 18px;
}

.text-uppercase {
  text-transform: uppercase;
}

.login-input-title {
  font-size: .7em;
  letter-spacing: 1.2px;
}

.login-input-button {
  width: 370px;
  height: 60px;
  background-color: rgba(0,0,0,.9);
  border-radius: 7px;
  color: rgba(255,255,255,.7);
  letter-spacing: 2px;
}