<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="../styles/admin.css"></link>
    <title>Login</title>
  </head>
  <body>
    <div class="login-container light-montserrat">
      <div class="login-header xlight-montserrat">
        <p>Login</p>
      </div>
      <div class="login-form-container">
        <form class="login-form">
          <img src="../../public/images/CinchLogo.png" alt="Cinch Logo">
          <div class="login-form-group">
            <p class="login-input-title text-uppercase"> e-mail</p>
            <input type="text" placeholder="Your Email Address" class="login-input light-montserrat">
          </div>
          <div class="login-form-group">
            <p class="login-input-title text-uppercase"> password</p>
            <input type="password" placeholder="Password" class="login-input light-montserrat">
          </div>
          <button type="submit" class="login-input-button login-form-group xlight-montserrat text-uppercase"> Login </button>
        </form>
      </div>
    </div>
  </body>
</html>
