<html>
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="../styles/admin.css"></link>
  <title>Users</title>
</head>
<body class="users-body">
  <div class="side-menu">
    <div class="list-item logo">
      <a href="#"></a>
    </div>
    <div class="list-item home">
      <a href="#"></a>
    </div>
    <div class="list-item group">
      <a href="#"></a>
    </div>
    <div class="list-item login" style="padding-top: 2px; padding-bottom: 2px;">
      <a href="#"></a>
    </div>
    <div class="list-item email" style="padding-top: 0px; margin-bottom: 5px;">
      <a href="#"></a>
    </div>
    <div class="list-item merchandise" style="margin-bottom: 10px;">
      <a href="#"></a>
    </div>
    <div class="list-item finance" style="margin-bottom: 8px;">
      <a href="#"></a>
    </div>
    <div class="list-item calendar">
      <a href="#"></a>
    </div>
  </div>
  <div class="users-container">
    <div class="nav-bar roboto">
      <form action="">
        <input type="text" class="nav-bar-search" placeholder="Search">
      </form>
      <div class="nav-bar-profile roboto">
        <p>Tony Alvarez</p>
        <img src="../../public/images/AlvarezProfile.png" alt="User Image">
        <img src="../../public/images/arrow icon.png" alt="Drop Down Menu">
      </div>
    </div>
    <div class="users-main-content">
      <div class="selection-panel">
        <div class="selection-panel-item">Household</div>
        <div class="selection-panel-item">Players</div>
        <div class="selection-panel-item">Coaches</div>
        <div class="selection-panel-item">Referees</div>
      </div>
      <div class="users-list">
        <div class="users-list-nav">
          <div class="users-list-nav-search-parameters">
            <div class="users-list-nav-title">Search</div>
            <div class="users-list-nav-amount">
              <button class="dropdown">Amount</button>
            </div>
            <div class="users-list-nav-active">
              <button class="dropdown">Active</button>
            </div>
          </div>
          <div class="users-list-pagination">
            <div class="users-list-pagination-dropdown">
              <button class="">SHOW 25</button>
            </div>
            <div class="users-list-pagination-pages">
              <button></button>
              <div class="users-list-pagination-page"> 
                Page 1
              </div>
              <button></button>
            </div>
          </div>
        </div>
        <div class="users-list-header">
          <div class="checkbox"></div>
          <div>Image</div>
          <div>Player Name</div>
          <div>ID</div>
          <div>Price</div>
          <div>Quan.</div>
          <div>Total Price</div>
          <div>Customer</div>
        </div>
        <div class="users-list-user">
          <div class="checkbox"></div>
          <div class="users-list-image">
            <img src="../../public/images/AlvarezProfile.png"></img>
          </div>
          <div>Jimmy Smyth</div>
          <div>190456</div>
          <div>$ 686.64</div>
          <div>1</div>
          <div>$ 686.64</div>
          <div>J.Moody</div>
          <div class="view-button">
            VIEW
          </div>
        </div>
        <div class="users-list-user">
          <div class="checkbox"></div>
          <div class="users-list-image">
            <img src="../../public/images/AlvarezProfile.png"></img>
          </div>
          <div>Jenny Jones</div>
          <div>190455</div>
          <div>$ 682.62</div>
          <div>2</div>
          <div>$ 686.64</div>
          <div>F.Newman</div>
          <div class="view-button">
            VIEW
          </div>
        </div>
        <div class="users-list-user">
          <div class="checkbox"></div>
          <div class="users-list-image">
            <img src="../../public/images/AlvarezProfile.png"></img>
          </div>
          <div>Ryan Withers</div>
          <div>190454</div>
          <div>$ 19.91</div>
          <div>3</div>
          <div>$ 686.64</div>
          <div>F.Rodriguez</div>
          <div class="view-button">
            VIEW
          </div>
        </div>
        <div class="users-list-user">
          <div class="checkbox"></div>
          <div class="users-list-image">
            <img src="../../public/images/AlvarezProfile.png"></img>
          </div>
          <div>Joanna Jennis</div>
          <div>190453</div>
          <div>$ 216.76</div>
          <div>1</div>
          <div>$ 686.64</div>
          <div>M.French</div>
          <div class="view-button">
            VIEW
          </div>
        </div>
        <div class="users-list-user">
          <div class="checkbox"></div>
          <div class="users-list-image">
            <img src="../../public/images/AlvarezProfile.png"></img>
          </div>
          <div>Bryan Winters</div>
          <div>190452</div>
          <div>$ 273.63</div>
          <div>1</div>
          <div>$ 686.64</div>
          <div>K.King</div>
          <div class="view-button">
            VIEW
          </div>
        </div>
      </div>
    </div>
  </div>
</body>
</html>